.main-section {
  width: 100%;
  height: 100vh;
  position: relative;
}

html {
  height: -webkit-fill-available;
}

.canvas-container {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
